<div class="container">
	<p></p>
	<h1>Control</h1>
	<p></p>
</div>

<div class="container card-body">
	<div class="row">
		<div class="col-md-auto">
			<h3>Nombre:</h3>
		</div>
		<div class="col-md-auto">
			<h3>Nombre</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-auto">
			<h3>Plan:</h3>
		</div>
		<div class="col-md-auto">
			<h3>Plan</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-auto">
			<a  class="btn btn-primary">Nuevo Control</a>
		</div>
	</div>
</div>

<div class="container card-body">
	<h3>Evaluacion Nutricional Peso</h3>
	<div class="form-group table-responsive">
		<table class="table">
			<tbody>
				<tr>
					<td class="col-md-auto">
						<label for="peso">Peso:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="peso" name="peso" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
					<td class="col-md-auto">
						<label for="edad">Edad Metabolica:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="edad" name="edad" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
				</tr>
				<tr>
					<td class="col-md-auto">
						<label for="grasa">Grasa Corporal:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="grasa" name="grasa" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
					<td class="col-md-auto">
						<label for="grasav">Grasa Visceral:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="grasav" name="grasav" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
				</tr>
				<tr>
					<td class="col-md-auto">
						<label for="agua">% Agua:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="agua" name="agua" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
					<td class="col-md-auto">
						<label for="imc">IMC:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="imc" name="imc" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
				</tr>
				<tr>
					<td class="col-md-auto">
						<label for="musculo">Peso Muscular:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="musculo" name="musculo" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
					<td class="col-md-auto">
						<label for="dx">Dx Nutricional:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="dx" name="dx" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<h3>Mediciones</h3>
	<div class="form-group table-responsive">
		<table class="table">
			<tbody>
				<tr>
					<td class="col-md-auto">
						<label for="est">Estomago:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="est" name="est" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
					<td class="col-md-auto">
						<label for="pecho">Pecho:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="pecho" name="pecho" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
				</tr>
				<tr>
					<td class="col-md-auto">
						<label for="cintura">Cintura:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="cintura" name="cintura" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
					<td class="col-md-auto">
						<label for="muslo">Muslo:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="muslo" name="muslo" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
				</tr>
				<tr>
					<td class="col-md-auto">
						<label for="vientre">Vientre:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="vientre" name="vientre" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
					<td class="col-md-auto">
						<label for="brazo">Brazo:</label>
					</td>
					<td class="col-md-auto">
						<input type="text" id="brazo" name="brazo" class="form-control" />
					</td>
					<td class="col-md-auto">
						+1
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<h3>Observaciones</h3>
	<div class="form-group">
		<textarea id="obser" name="obser" class="form-control" rows="3" >
		</textarea>
	</div>
	<h3>Recomendaciones</h3>
	<div class="form-group">
		<textarea id="reco" name="reco" class="form-control" rows="3" >
		</textarea>
	</div>
	
	<button class="btn btn-primary">Cerrar</button>
</div>

<div class="container">
<p></p>
<h2>Controles</h2>
	<div class="table-responsive">
		<table class="table">
        	<thead>
            	<tr>
                	<th>#</th>
                    <th>Fecha</th>
                    <th>Peso</th>
                    <th></th>
				</tr>
			</thead>
			<tbody>
            	<tr>
            		<td>1</td>
            		<td>07/11/1/2020</td>
            		<td>128 lbs</td>
            		<td><button class="btn btn-primary">Ver</button></td>
            	</tr>
			</tbody>
		</table>
	</div>
</div>
